<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Herbs</title>
</head>
<body>
    <h1>Лекарства и снадобья</h1>
    <ul>
        <li><descr title="Снимает усталость">Зеленоцвет </descr><button>Съесть</button></li>
        <li><descr title="Лечит переутомление">Цветущий зеленоцвет </descr><button>Съесть</button></li>
        <li><descr title="Лечит отравление">Пурпурный мох </descr><button>Съесть</button></li>
        <li><descr title="Выводит яды и токсины">Цветущий пурпурный мох </descr><button>Съесть</button></li>
    </ul>
    <a href="/main_page/"><button>Вернуться на главную страницу</button></a>

</body>
</html>